
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal h2 {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color:black;
  }
  
  .modal-content {
    margin-top: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-right: 20px;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-right: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  textarea {
    resize: vertical;
    margin-right:120px;
    padding:10px
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .cancel-button,
  .create-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .cancel-button {
    background-color: transparent;
    color: #6c5ce7;
    border: 1px solid #6c5ce7;
  }
  
  .create-button {
    background-color: #6c5ce7;
    color: white;
  }
  