.task-card {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .high {
    border-left: 4px solid red;
  }
  
  .medium {
    border-left: 4px solid orange;
  }
  
  .low {
    border-left: 4px solid green;
  }
  